<footer class="page-footer footer-style-3 mt-0">
   <div class="footer-top footer-top--bg footer--dark">
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="footer-block">
                  <div class="footer-logo">
                     <a href="index.html" class="logo"><img
                           srcset="assets/shop/images/skins/electronics/logo-electronics-footer.webp 1x, assets/shop/images/skins/electronics/logo-electronics-footer2x.webp 2x"
                           alt="Logo"></a>
                  </div>
               </div>
            </div>
            <div class="col-lg-10">
               <div class="footer-block">
                  <ul class="footer-list-inline">
                     <li><a href="">My Account</a></li>
                     <li><a href="">View Cart</a></li>
                     <li><a href="">My Wishlist</a></li>
                     <li><a href="">Order Status</a></li>
                     <li><a href="">Track My Order</a></li>
                     <li><a href="">Order History</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="footer-block">
                  <ul class="social-list">
                     <li>
                        <a href="#" class="icon icon-facebook"></a>
                     </li>
                     <li>
                        <a href="#" class="icon icon-twitter"></a>
                     </li>
                     <li>
                        <a href="#" class="icon icon-google"></a>
                     </li>
                     <li>
                        <a href="#" class="icon icon-vimeo"></a>
                     </li>
                     <li>
                        <a href="#" class="icon icon-youtube"></a>
                     </li>
                     <li>
                        <a href="#" class="icon icon-pinterest"></a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-bottom footer-bottom--bg">
      <div class="container text-center">
         <ul class="payment-link payment-link--sm">
            <li><i class="icon-amazon-logo"></i></li>
            <li><i class="icon-visa-pay-logo"></i></li>
            <li><i class="icon-skrill-logo"></i></li>
            <li><i class="icon-master-card-logo"></i></li>
            <li><i class="icon-paypal-logo"></i></li>
            <li><i class="icon-apple-pay-logo"></i></li>
         </ul>
         <div class="footer-copyright">
            <a href="#">SHOP</a> ©2024 copyright
         </div>
      </div>
   </div>
</footer>